.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 50px;
  padding: 10px;
  background-color: black;
}
.description {
  margin-left: 20px;
}
.poster {
  width: 200px;
  height: 300px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.title {
  color: rgb(255, 208, 0);
}
.para {
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  font-size: large;
}

.poster:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 5px 4px 26px 15px rgba(255, 255, 255, 0.26);
  -webkit-box-shadow: 5px 4px 26px 15px rgba(255, 255, 255, 0.26);
  -moz-box-shadow: 5px 4px 26px 15px rgba(255, 255, 255, 0.26);
}
.gen {
  color: white;
}
